# General
*.log
*.svg
*.txt
*.pdf


# C complier
*.cmd
*.mod.c
*.mod.o
*.o
*.mk
*.symvers
*.order
*/.tmp_versions/*

# Python cache
*__pycache__*
*.pyc
.ipynb_checkpoints
.idea

# Data
data/*
result/*
trace/*
src_python/result/*
measurement/crawled_data/*
venv/*

# Variable config
